.game-container{
    flex-direction: column;
}
.game-container > button:hover{
    background-color: #000814;
    color: #e5e5e5;
}

#easy-level{
    border-radius: 0.7rem 0.7rem 0rem 0rem;
}

#easy-level:hover::after{
    content:' : 9 images - 1 min';
}

#medium-level{
    border-radius: 0rem;
}

#medium-level:hover::after{
    content: ' : 12 images - 1 min 30 sec';
}

#hard-level{
    border-radius: 0rem 0rem 0.7rem 0.7rem;
}

#hard-level:hover:after{
    content: ' : 15 images - 2 min';
}

.game-table{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: inherit;
    padding-bottom: 2rem;
}

.timer{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    color: white;
    max-width: 35%;
    margin: 2% 0% -3% 40%;
}
.timer span{
    margin-left: -5rem;
}

img{
    width: 12rem;
    height: 12rem;
    margin-top: 5%;
    margin-left: 1em;
    border-radius: 1em;
    border: 5px solid #ffc300;
}

.message-final{
    width: 80%;
    text-align: center;
    margin-top: 5rem;
    margin-left: 5%;
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    color: white;
}